@font-face {
  font-family: Peyda;
  src: url("./fonts/Peyda-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Peyda;
  src: url("./fonts/Peyda-Semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Peyda;
  src: url("./fonts/Peyda-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Peyda;
  src: url("./fonts/Peyda-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Peyda;
  src: url("./fonts/Peyda-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Peyda;
  src: url("./fonts/Peyda-Thin.ttf");
  font-weight: 100;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Peyda;
    font-weight: normal;
    direction: rtl;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.9rem;
  }

  p {
    font-size: 1rem; /* Default font size */
    line-height: 1.5; /* Recommended line height for readability */
  }

  p.small {
    font-size: 0.9rem; /* Smaller font size for less important content */
  }

  p.large {
    font-size: 1.2rem; /* Larger font size for emphasized or important content */
  }

  p.extra-large {
    font-size: 1.5rem; /* Extra large font size for headings within paragraphs */
  }

  p.caption {
    font-size: 0.8rem; /* Smaller font size for captions or additional text */
  }
}
